In [11]:
import pandas as pd

Salary_data_ebs = pd.read_csv('Salary_dataset.csv')
X_ebs = Salary_data_ebs.drop(columns=['Salary'])
y_ebs = Salary_data_ebs['Salary']
y_ebs

0      39344.0
1      46206.0
2      37732.0
3      43526.0
4      39892.0
5      56643.0
6      60151.0
7      54446.0
8      64446.0
9      57190.0
10     63219.0
11     55795.0
12     56958.0
13     57082.0
14     61112.0
15     67939.0
16     66030.0
17     83089.0
18     81364.0
19     93941.0
20     91739.0
21     98274.0
22    101303.0
23    113813.0
24    109432.0
25    105583.0
26    116970.0
27    112636.0
28    122392.0
29    121873.0
Name: Salary, dtype: float64